.prev_bio{
    width: calc((100vw - 20px) / 2 - 55px);
    border: 1px solid black;
    justify-content: start;
    align-items: flex-start;
    padding: 10px;

    
}

.prev_video{
    /*width: calc((100vw - 20px) / 2 );*/
    border: 1px solid black;
}

.prev_video video {
    width: 100%;
    height: 100%;
}

.prev_video video {
    width: 100%;
}

.prev_main {
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    border: 1px solid red;
    
}

.border_l {
    border: 1px solid blue;
}

.border_r {
    border: 1px solid red;
}

.prev_block{
    /*min-width: 10%;*/
    margin-top: 10px;
    min-width: 48%;
    min-height: 100px;
}